{% extends "encyclopedia/layout.html" %} {% block title %} New Entry {% endblock %} {% block body %}

<h1>Add New Entry</h1>
<hr />

<form class="col-10" method="POST" action="{% url 'new_entry' %}">
  {% csrf_token %}
  <fieldset class="form-group">
    <input class="form-control" type="text" name="title" value="{{title}}" placeholder="Title" required />
    {% if invalid %}
    <div style="display: block" class="invalid-feedback">Entry already exists.</div>
    {% endif %}
  </fieldset>
  <fieldset class="form-group">
    <textarea class="form-control" name="content" placeholder="Content" rows="10" required>{{content}}</textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" value="Save" />
  </fieldset>
</form>

{% endblock %}
